@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.add-book {
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.add-book h1 {
  font-size: 20px;
  font-family: "Indie Flower", cursive;
  color: #2c394b;
}

.add-book__input input {
  border-radius: 25px;
  border: 1px solid #52b2bb;
  padding: 1rem;
  width: 100%;
  margin-bottom: 25px;
}

.add-book__input input:focus {
  outline: none;
  border: 2px solid #048e9b;
}

.add-book__btn {
  width: 20%;
  border-radius: 25px;
  border: none;
  width: 100px;
  background-color: #048e9b;
  color: white;
  font-weight: bold;
  padding: 15px 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  margin-bottom: 20px;
}
